.movie {
  margin-right: 20px;
  background-color: #FDFDFD;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.movie__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 12px 0;
}

.movie__name {
  margin: 0;
  font-size: 13px;
  line-height: 1.23;
  font-weight: 500;
}

.movie__duration {
  margin: 14px 12px;
  color: #A0A0A0;
  font-size: 11px;
  line-height: 1.18;
}
