.promo {
  padding: 75px 70px;
  background-color: #465DFF;
  position: relative;
}

.promo__logo {
  width: 310px;
  height: 304px;
  background: url(../../images/logo.svg) top right / contain no-repeat;
  position: absolute;
  top: 75px;
  right: 70px;
}

.promo__heading {
  font-size: 50px;
  line-height: 58px;
  font-weight: 400;
  color: #FFFFFF;
  max-width: 640px;
  margin: 0 0 36px;
}

.promo__desc {
  opacity: .5;
  color: #FFFFFF;
  max-width: 310px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  margin: 0 0 146px;
}

.promo__span {
  white-space: nowrap;
}
