.filter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  padding: 11px 30px 11px 77px;
  box-sizing: border-box;
  border-left: 1px solid #CBCBCB;
  font-size: 13px;
  line-height: 1.38;
}

.filter__input {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.filter__box {
  position: absolute;
  margin-left: -179px;
  width: 36px;
  height: 20px;
  background: url('../../images/duration-button.svg') no-repeat center;
  background-size: contain;
  transition: background-image .2s;
}

.filter__box:hover {
  cursor: pointer;
}

.filter__box_is-active {
  background-image: url('../../images/duration_active.svg');
}

@media screen and (max-width: 767px) {
  .filter {
    font-size: 11px;
    line-height: 1.36;
    box-shadow: none;
    border: none;
    margin-top: 39px;
  }

  .filter__box {
    margin-left: -160px;
  }
}
