.auth-nav__nav {
  margin-left: auto;
}

.auth-nav__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.auth-nav__item {
  margin-right: 30px;
}

.auth-nav__item:last-child {
  margin-right: 0;
}

.auth-nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}

.auth-nav__link_green {
  padding: 8px 20px;
  background-color: #2BE080;
  border-radius: 3px;
  color: #000;
}
