.auth-nav__nav {
  margin-left: auto;
}

.auth-nav__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.auth-nav__item {
  margin-right: 30px;
}

.auth-nav__item:last-child {
  margin-right: 0;
}

.auth-nav__link {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
}

.auth-nav__link_green {
  padding: 8px 20px;
  background-color: #2BE080;
  border-radius: 3px;
  color: #000;
}

@media screen and (max-width: 1279px) {
  .auth {
    margin: 232px auto;
  }

  .auth-nav__item {
    margin-right: 14px;
  }

  .auth-nav__link {
    font-size: 10px;
    line-height: 1.6;
  }

  .auth-nav__link_green {
    padding: 5px 12px;
  }
}
